body {
    background-image: url("../images/bg1.jpg");
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    padding-left: 10px;
}

p {
    clear: both;
}

.characters,
.defender,
.enemy {
    background-color: #FFF;
    border: 2px solid #090;
    float: left;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.defender {
    background-color: #000;
    border: 1px solid #FFF;
    color: #FFF;
}

.enemy {
    background-color: #F00;
    border: 1px solid #000;
}

.characters img,
.defender img,
.enemy img {
    width: 100px;
    height: auto;
    padding: 5px 0;
}

#heading {
    font-size: 36px;
    text-align: right;
    padding-right: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#game-match {
    clear: both;
}

#status {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}